.t_vars{
  /* 字体 */
  /* --font-family-special:'Helvetica Neue'; 英文、数字、特殊符号使用 */
  
  /* 主要色彩 */
  --color-cm: #cc162c;
  --color-cc: #671010;
  --color-cb: #aa282a;
  --color-cp: #fff4f2;
  
  /* 文字色值 */
  --font-color-t1: #333;  
  --font-color-t2: #666;
  --font-color-t3: #999;
  --font-color-t4: #ccc;
  --font-color-t5: #fff;
  
  /* 背景和分割线 */
  --line-color: #ddd;
  --global-bg: #f0f0f0;
  
  /* 字体排版 */
  --font-h1: .36rem;
  --font-h2: .32rem;
  --font-h3: .28rem;
  --font-h4: .24rem;
  --font-h5: .22rem;
  --font-h6: .20rem;
  --font-h7: .18rem;
   /* 18 - 22px用于标签文案 */
  
  /* 以上为整理过的最新规范 */
  --header-height: .88rem;
  --bottom-height: .98rem;
  --safe-margin: .3rem;
  --extend-tab-height: .8rem;
  --cell-margin: .2rem;
  /* group相关 */
  --group-padding: .4rem 0px .2rem .3rem;

  /* header */
  --header-height: .88rem;
  --header-shadow: 0 1px 4px 0 rgba(51,51,51,0.1);
}

 