@mixin headShadow () {
	box-shadow: 0 1px 4px 0 rgba(51,51,51,0.1);
}
@mixin border () {
	position: relative;
	&::after{
		content: "";
		background-color: #ddd;
		height: 1px;
		transform: scaleY(0.5);
		width: 100%;
		position: absolute;
		bottom: -1px;
		left: 0px;
	}
}

@mixin ellipsis() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
